<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class='menu'>
        <h2>Menu</h2>
        <ul class='user'>
            <a href='/teams'><li>Leagues</li></a>
            <li>Teams</li>
            <li>Player Database</li>
            <li>Upcoming Fixtures</li>
            <li>Recent Signings</li>
        </ul>
        <h2>Admin</h2>
        <ul class='admin'>
            <a href='/admin/teams'><li>Team Management</li></a>
            <a href='/admin/fixtures'><li>Fixture Management</li></a>
            <a href='/admin/leagues'><li>League Management</li></a>
            <li>Player Mangement</li>
        </ul>
    </nav>
    <div class='main_container'>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>