{% extends 'base.html' %}

{% block content %}
<div class='edit_team'>
    <h2>Edit Team</h2>
    <form action="/admin/teams/{{team.id}}" method='POST'>
        <label for='name'>Name:</label>
        <input type='text' id='name' name='name' value="{{team.name}}">
        <label for='year'>Year Founded:</label>
        <input type='number' id='year' name='year' min='1800' max ='2021' value="{{team.year_founded}}">
        <select name='stadium' id='stadium'>
            {%for stadium in stadiums%}
                {% if stadium.id == team.stadium.id %}
                    <option name="{{stadium.id}}" id="{{stadium.id}}" value="{{stadium.id}}" selected>{{stadium.name}}</option>
                {%else%}
                    <option name={{stadium.id}} id="{{stadium.id}}" value="{{stadium.id}}">{{stadium.name}}</option>
                {% endif %}
            {% endfor %}
        <input type='submit'>
    </form>
</div>

{% endblock content %}