{% extends 'base.html' %}
{% block content %}
    <h2>Team Management:</h2>
    <div class='team_grid_flex_container'>
        {% for team in teams %}
        <div class='team_management_grid'>
            <a href='/admin/teams/edit/{{team.id}}'>
                <img src="{{url_for('static', filename='badge.png')}}" height=50px width=50px/>
                <h4>{{team.name}}</h4>
                <p>{{team.year_founded}}</P>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock content %}