{% extends 'base.html' %}
{% block content %}
<div class='team_management_index'>
    <h2>Team Management:</h2>
    <div class='new_team'>
        <form action="/admin/teams/new">
            <input type="submit" value="add team" />
        </form>
    </div>

    <div class='team_grid_flex_container'>
        {% for team in teams %}
            <div class='team_management_grid'>
            <a href='/admin/teams/edit/{{team.id}}' class='team_link'>
            
                <img class='team_badge'src="{{url_for('static', filename='badge.png')}}" height=50px width=50px/>
                <h4>{{team.name}}</h4>
                <p>{{team.year_founded}}</P>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}